html {
    font-size: 62.5%;
    }

body {
    background-image: url("issMoon.jpg");
    background-size: cover;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: seashell;
    letter-spacing: .2rem;
    }

h1, h2, h3, h4, h5  {
    margin-top: 1rem;
    }

h1 {
    margin-bottom: 10px;
    /* font-size: 300%; */
    font-size: 6rem;
    text-shadow: 0 0 3px ivory;
    font-weight: lighter;
    }

span {
    font-weight:900;
    }

h3 {
    font-weight: lighter;
    }

h2 {
    font-size: 5rem;
    }

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 40%;
    }

.main-el {
    font-size: 300%;
    }

.sub-mainTitle {
    margin: 5px;
    padding: 5px;
    font-size: 1.5rem;
    }

.countDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    /* background: linear-gradient(to right, midnightblue, darkblue);  */
    background: midnightblue ;
    border: 1.5px solid ivory; 
    /* opacity: 0.5; */
    margin: 10px 0px;
    height: 70px;
    width: 90px;
    border-radius: 10px;
    padding: 3em;

    }
    
.countNum {
    margin: 0;
    font-size: 10rem;
    /* background: linear-gradient(to right, midnightblue, darkblue); 
    opacity: .1; */
    }

.btn-el {
    margin: 0 0 10px;
    padding: 8px 20px;
    }

button {
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: 0px 8px 5px;
    border-radius: 5px;
    }

#increment-btn {
    background: linear-gradient(to left, darkblue, darkmagenta); 
    margin: 20px 0 10px;
    font-size: larger;
    font-weight: lighter;
    }

#increment-btn:hover {
    background-image: linear-gradient(to right, purple, cornflowerblue , darkblue); 
    }

#save-btn {
    background-image: linear-gradient(to right, lightgreen, darkgreen); 
    font-size: larger;
    font-weight: lighter;
    }
    
#save-btn:hover {
     background-image: linear-gradient(to left, lightgreen, darkgreen); 
     }


#reset-btn {
    background: linear-gradient(to left, darkblue, darkcyan); 
    font-size: larger;
    font-weight: lighter;
    margin: 15px 0 10px;
    }
    
#reset-btn:hover {
    background: linear-gradient(to left, darkblue, darkgreen); 
    }

.previous-el {
    max-width: 70%;
    margin: 0 auto;
    /* padding: 1rem; */
    }


.prevCount {
    width: 80%;
    margin: 0 auto;
    padding: 2px;
    /* background: blue; */
    background: rgba(5, 333, 60, 0.3);
    font-size: 2rem;
    font-weight: lighter;
    border-radius: 10px;
    }

.prevTitle {
    text-shadow: 1px 1px 3px blue;
    font-size: larger;
    text-transform: uppercase;
    font-weight: lighter;
    /* padding: 1rem; */
    }

.prevEntry {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    /* background: lightpink; */
    font-size: 2rem;
    font-style: italic;
    text-shadow: 1px 1px 3px blue;
    } 
